<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>AppDragon Code Pal</title>
    <script type="text/javascript" src="compiled/assets/javascripts/application.js"></script>
    <link type="text/css" href="compiled/assets/stylesheets/application.css" rel="stylesheet"/>
  </head>
  <body>
    <div id="header-region"></div>
    <div id="main-region"></div>

    <script type="text/javascript">
      $(function() {
        CodePal.start();
      });
    </script>
  </body>
</html>
